In [2]:
from sklearn.linear_model import LogisticRegression

In [3]:
import pandas as pd
import numpy as np
data=pd.read_csv("titanic_train.csv",delimiter=",")
x_train=data.iloc[:,:-1]
y_train=data.iloc[:,-1]

def a(b):
    
    if(b=="S"):
        return 0
    elif(b=="C"):
        return 1
    else:
        return 2

    


x_train.Cabin=x_train.Cabin.fillna(0)


def f(s):
    if(s=="female"):
        return 1
    else:
        return 0

x_train.drop("Name",axis=1,inplace=True)
x_train.drop("Cabin",axis=1,inplace=True)
x_train.drop("Ticket",axis=1,inplace=True)
x_train["Embarked"]=x_train.Embarked.apply(a)
x_train["Gender"]=x_train.Sex.apply(f)
x_train.drop("Sex",axis=1,inplace=True)
x_train.Age=x_train.Age.fillna(0)

x_train

     Pclass    Age  SibSp  Parch      Fare  Embarked  Gender
0         2  29.00      1      0   26.0000         0       1
1         3   0.00      0      0    8.0500         0       0
2         2  39.00      0      0   26.0000         0       0
3         3  29.00      0      4   21.0750         0       1
4         3  25.00      0      0    7.0500         0       0
5         3  34.50      0      0    6.4375         1       0
6         1  35.00      1      0   53.1000         0       1
7         3  23.00      0      0    7.8958         0       0
8         2   0.00      0      0   13.0000         0       0
9         3  50.00      0      0    8.0500         0       0
10        3  23.00      0      0    7.5500         0       1
11        3   0.00      0      0    7.2292         1       0
12        2  36.00      0      0   13.0000         0       0
13        3   0.00      1      0   15.5000         2       0
14        3   0.00      0      0    7.7500         2       1
15        3  28.00      2      0    7.9250         0       0
16        3  32.00      0      0    7.8542         0       0
17        3  42.00      0      0    7.5500         0       0
18        1  38.00      0      1  153.4625         0       0
19        3   0.00      0      0    7.7500         2       1
20        1  38.00      0      0    0.0000         0       0
21        3   0.00      0      2   15.2458         1       1
22        2  40.00      0      0   15.7500         0       1
23        3  24.50      0      0    8.0500         0       0
24        3   0.00      0      0    7.2250         1       1
25        3   0.00      8      2   69.5500         0       1
26        1  39.00      0      0    0.0000         0       0
27        1  22.00      0      0  135.6333         1       0
28        3  16.00      0      0    7.7750         0       0
29        2  30.00      0      0   13.0000         0       0
..      ...    ...    ...    ...       ...       ...     ...
638       3  24.00      2      0   24.1500         0       0
639       2  22.00      1      2   41.5792         1       1
640       3   0.00      3      1   25.4667         0       1
641       3  32.00      0      0    7.9250         0       0
642       1  42.00      0      0   26.2875         0       0
643       3  17.00      0      0    7.1250         0       0
644       1   0.00      0      0   25.9250         0       0
645       2   0.83      1      1   18.7500         0       0
646       3   9.00      2      2   34.3750         0       1
647       1  58.00      0      0   29.7000         1       0
648       2  28.00      0      1   33.0000         0       0
649       3  26.00      0      0    8.0500         0       0
650       3  47.00      0      0    9.0000         0       0
651       3   0.00      1      0   16.1000         0       0
652       2  33.00      1      2   27.7500         0       1
653       3  47.00      1      0   14.5000         0       1
654       3   0.00      0      0    7.8958         0       0
655       1  42.00      1      0   52.5542         0       0
656       3  36.00      0      0    7.8958         0       0
657       3  38.00      0      0    8.6625         0       0
658       3  38.00      1      5   31.3875         0       1
659       3   0.00      0      0    7.8292         2       0
660       2   1.00      2      1   39.0000         0       0
661       1   0.00      1      0   82.1708         1       1
662       1  47.00      0      0   34.0208         0       0
663       2  17.00      0      0   10.5000         0       1
664       3   0.00      0      0    7.7500         2       0
665       3  32.00      0      0   56.4958         0       0
666       3  22.00      0      0    9.8375         0       1
667       3   0.00      1      0   15.5000         2       1

[668 rows x 7 columns]

In [13]:
x_test=pd.read_csv("titanic_test.csv",delimiter=",")

x_test.drop("Name",axis=1,inplace=True)
x_test.drop("Cabin",axis=1,inplace=True)
x_test.drop("Ticket",axis=1,inplace=True)
def f(s):
    if(s=="female"):
        return 1
    else:
        return 0
x_test["Gender"]=x_test.Sex.apply(f)
x_test.drop("Sex",axis=1,inplace=True)
def a(b):
    if(b=="S"):
        return 0
    elif(b=="C"):
        return 1
    else:
        return 2
x_test["Embarked"]=x_test.Embarked.apply(a)
x_test.Age=x_test.Age.fillna(0)
x_test

     Pclass    Age  SibSp  Parch      Fare  Embarked  Gender
0         2   8.00      1      1   36.7500         0       0
1         1  49.00      0      0   25.9292         0       1
2         3   0.00      0      0    7.7375         2       0
3         2  24.00      2      1   27.0000         0       1
4         1  36.00      0      0   26.2875         0       0
5         1  71.00      0      0   49.5042         1       0
6         3  16.00      0      0    9.5000         0       0
7         3   0.00      0      0    7.7250         2       0
8         3  18.00      0      0    7.7750         0       1
9         3   0.00      0      0    8.6625         0       0
10        1  63.00      1      0   77.9583         0       1
11        3   0.00      0      0    7.8958         0       0
12        1  24.00      0      0   83.1583         1       1
13        3  23.00      0      0    7.9250         0       1
14        1  71.00      0      0   34.6542         1       0
15        2  21.00      1      0   11.5000         0       0
16        3  21.00      0      0    8.4333         0       0
17        3   4.00      1      1   11.1333         0       0
18        3  22.00      0      0    7.5208         0       0
19        3  18.00      0      0    6.7500         2       1
20        3   0.00      1      0   24.1500         2       1
21        3  32.00      0      0    7.7500         2       0
22        1  58.00      0      0   26.5500         0       1
23        2  24.00      1      2   65.0000         0       1
24        3   0.00      0      0    7.2500         0       0
25        1   0.00      0      0   35.0000         0       0
26        2  28.00      0      0   10.5000         0       0
27        1  42.00      1      0   52.0000         0       0
28        3   0.75      2      1   19.2583         1       1
29        2  50.00      0      0   10.5000         0       1
..      ...    ...    ...    ...       ...       ...     ...
193       3   0.00      0      0    8.0500         0       0
194       3  38.00      0      0    7.8958         0       0
195       3  26.00      0      0    7.9250         0       1
196       1  16.00      0      1   57.9792         1       1
197       3  37.00      0      0    9.5875         0       1
198       2  28.00      1      0   26.0000         0       1
199       1  33.00      0      0   86.5000         0       1
200       3   0.00      0      0    7.7500         2       0
201       1  32.00      0      0   30.5000         1       0
202       3  22.00      0      0    7.2500         0       0
203       1  47.00      0      0   38.5000         0       0
204       3   0.00      0      0    7.7500         2       0
205       3   0.00      1      0   19.9667         0       0
206       3  32.00      0      0   56.4958         0       0
207       3  26.00      0      0    7.8958         0       0
208       1  62.00      0      0   80.0000         2       1
209       3   9.00      3      2   27.9000         0       1
210       3   0.00      2      0   21.6792         1       0
211       3  22.00      0      0    7.7750         0       1
212       2  25.00      0      0   13.0000         0       0
213       1  55.00      0      0   30.5000         0       0
214       3  14.00      0      0    7.8542         0       1
215       2   0.00      0      0   12.3500         2       1
216       3  21.00      0      0    8.6625         0       0
217       3   0.00      0      0    8.0500         0       0
218       3  20.00      1      0    7.9250         0       0
219       1  45.00      0      0   26.5500         0       0
220       1  17.00      1      0  108.9000         1       1
221       3  43.00      0      0    6.4500         0       0
222       2  36.50      0      2   26.0000         0       0

[223 rows x 7 columns]

In [14]:
clf = LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
clf.score(x_train,y_train)

0.78143712574850299

In [ ]:
def a(b):
    if(b==0):
        b="airplane"
    elif(b==1):
        b="automobile"
    elif(b==2):
        b="bird"
    elif(b==3):
        b="cat"
    elif(b==4):
        b="deer"
    elif(b==5):
        b="dog"
    elif(b==6):
        b="frog"
    elif(b==7):
        b="horse"
    elif(b==8):
        b="ship"
    elif(b==9):
        b="truck"

In [16]:
y_predict=clf.predict(x_test)

In [17]:
np.savetxt("Titanic_predicted.csv",y_predict,delimiter=",",fmt='%1f')